<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-fill mb-2 mb-lg-0">
          <div class="d-flex flex-fill justify-content-end">
          <li class="nav-item justify-end">
            <a class="nav-link" href="#">Return to Main</a>
          </li>
          </div>         
        </ul>
      </div>
    </div>
  </nav>
